@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="panel">
	<div class="panel-body">
		<h2>
			<p class="text-center">
				This page is <span class="text-bold">Coming Soon</span>!
			</p>
		</h2>
</div>

</section>


