
<!doctype html>
<html class="fixed">
<head>

	<!-- Basic -->
	<meta charset="UTF-8">

	<title>Dave Ilkyu Song</title>
	<meta name="keywords" content="SmartMerchant" />
	<meta name="description" content="SmartMerchantm">
	<meta name="author" content="SmartMerchant">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- Web Fonts  -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="/Scripts/bootstrap-fileupload/bootstrap-fileupload.min.css" />
	@*<link rel="stylesheet" href="/Scripts/drop/dropzone.css" />*@
	<link rel="stylesheet" href="/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.css" />
	<link rel="stylesheet" href="/Scripts/summernote/summernote.css">
	<link rel="stylesheet" href="/Scripts/summernote/summernote-bs3.css">
	<link rel="stylesheet" href="/Scripts/pnotify/pnotify.custom.min.css">
	<link rel="stylesheet" href="/Scripts/jstree/themes/default/style.css">
	<link rel="stylesheet" href="/Scripts/fullcalendar/fullcalendar.css" />
	<link rel="stylesheet" href="/Scripts/fullcalendar/fullcalendar.print.css" media="print" />


	@Styles.Render("~/Css/theme")

	<link href="/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />


	@Scripts.Render("~/bundles/modernizr/ver1")




	<script src="/Scripts/jquery/jquery.js"></script>
	<script src="~/Scripts/jquery-preloader/jquery.preloaders.js"></script>
	@*<script src="/Scripts/drop/dropzone.js"></script>
		<script>Dropzone.autoDiscover = false;</script>*@
</head>
<body>
	<section class="body">

		<!-- start: header -->
		<header class="header">
			<div class="logo-container">
				<a href="../" class="logo">
					<img src="~/Images/Logo3.png" height="35" alt="Porto Admin" />
				</a>
				<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
					<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
				</div>
			</div>

			@*@{ Html.RenderAction("GetMenuList", "Home"); }*@
			@Html.Partial("_LoginPartial")
		</header>
		<!-- end: header -->

		<div class="inner-wrapper">
			<!-- start: sidebar -->
			<aside id="sidebar-left" class="sidebar-left">

				<div class="sidebar-header">
					<div class="sidebar-title">
						Admin
					</div>
					<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>

				<div class="nano">
					<div class="nano-content">

						@{ Html.RenderAction("AdminMenu", "Home"); }

						<hr class="separator" />
					</div>

				</div>

			</aside>
			<!-- end: sidebar -->

			<section role="main" class="content-body">
				<header class="page-header">
					<h2>Page</h2>

					<div class="right-wrapper pull-right">
						<ol class="breadcrumbs">
							<li>
								<a href="index.html">
									<i class="fa fa-home"></i>
								</a>
							</li>
							<li><span>Pages</span></li>
							<li><span>Page &nbsp;&nbsp;</span><span> </span></li>
						</ol>
					</div>
				</header>

				<!-- start: page -->

				@RenderBody()

				<!-- end: page -->
			</section>
		</div>

	</section>


	<script src="/Scripts/jquery-browser-mobile/jquery.browser.mobile.js"></script>
	<script src="/Content/bootstrap/js/bootstrap.js"></script>
	<script src="/Scripts/nanoscroller/nanoscroller.js"></script>
	<script src="/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="/Content/magnific-popup/magnific-popup.js"></script>
	<script src="/Scripts/jquery-placeholder/jquery.placeholder.js"></script>

	<script src="/Scripts/jquery-autosize/jquery.autosize.js"></script>
	<script src="/Scripts/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
	<script src="~/Scripts/jstree/jstree.js"></script>

	<script src="/Scripts/jquery-validation/jquery.validate.js"></script>
	<script src="/Scripts/ios7-switch/ios7-switch.js"></script>
	<script src="/Scripts/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
	<script src="/Scripts/summernote/summernote.js"></script>
	<script src="/Scripts/pnotify/pnotify.custom.min.js"></script>
	<script src="/Scripts/fullcalendar/lib/moment.min.js"></script>
	<script src="/Scripts/fullcalendar/fullcalendar.js"></script>

	<script src="/javascripts/theme.js"></script>
	<script src="/javascripts/theme.custom.js"></script>
	<script src="/javascripts/theme.init.js"></script>
	<script src="/javascripts/index.js"></script>


</body>
</html>