@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
	{
		@Html.AntiForgeryToken()

<div class=" header-right">





	<span class="separator"></span>
	<div id="userbox" class="userbox">
		<a href="#" data-toggle="dropdown">
			<figure class="profile-picture">
				<img src="~/files/userpic/1.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="/Images/!logged-user.jpg" />
			</figure>
			<div class="profile-info" data-lock-name="User.Identity.GetUserName()" data-lock-email="User.Identity.GetUserName()">
				<span class="name">@User.Identity.GetUserName()</span>
				@*span class="role">administrator</span>*@
			</div>

			<i class="fa custom-caret"></i>
		</a>

		<div class="dropdown-menu">
			<ul class="list-unstyled">
				<li class="divider"></li>
				<li>
					<a role="menuitem" tabindex="-1" href="/User/UserDetail/?userNm=@User.Identity.GetUserName()"><i class="fa fa-user"></i> My Profile</a>
				</li>
				<li>
					<a role="menuitem" tabindex="-1" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Logout</a>
				</li>
			</ul>
		</div>
	</div>
</div>																	
	}
}
else
{
	<div class=" header-right">
		<span class="separator"></span>
		<div id="userbox" class="userbox">
			<ul class="nav navbar-nav navbar-right">
				<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
				<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
			</ul>
		</div>
	</div>
}
