
@{
	Layout = null;
}


<!doctype html>
<html class="fixed">
<head>

	<!-- Basic -->
	<meta charset="UTF-8">

	<title>Yuri Portal</title>
	<meta name="keywords" content="HTML5 Admin Template" />
	<meta name="description" content="Porto Admin - Responsive HTML5 Template">
	<meta name="author" content="okler.net">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- Web Fonts  -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

	<link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="/Content/magnific-popup/magnific-popup.css" rel="stylesheet" />
	<link href="/Content/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
	<link href="/Css/theme.css" rel="stylesheet" />
	<link href="/Css/skins/default.css" rel="stylesheet" />
	<link href="/Css/theme-custom.css" rel="stylesheet" />

	<script src="/Scripts/modernizr/modernizr.js"></script>



</head>
<body>
	<section class="body">

		<!-- start: header -->
		<header class="header">
			<div class="logo-container">
				<a href="../" class="logo">
					<img src="/Images/logo3.png" height="35" alt="Porto Admin" />
				</a>
				<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
					<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
				</div>
			</div>

			@{ Html.RenderAction("GetMenuList", "Home"); }
			@Html.Partial("_LoginPartial")
		</header>
		<!-- end: header -->

		<div class="inner-wrapper">
			<!-- start: sidebar -->
			<aside id="sidebar-left" class="sidebar-left">

				<div class="sidebar-header">
					<div class="sidebar-title">
						Admin
					</div>
					<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>

				<div class="nano">
					<div class="nano-content">
						<nav id="menu" class="nav-main" role="navigation">
							<ul class="nav nav-main">
								<li>
									<a href="index.html">
										<i class="fa fa-user" aria-hidden="true"></i>
										<span>User Mangement</span>
									</a>
								</li>

								<li class="nav-parent">
									<a>
										<i class="fa fa-comment" aria-hidden="true"></i>
										<span>Board Management</span>
									</a>
									<ul class="nav nav-children">
										<li>
											<a href="pages-signup.html">
												Board List
											</a>
										</li>
										<li>
											<a href="pages-signin.html">
												Article List
											</a>
										</li>
									</ul>
								</li>

								<li class="nav-parent">
									<a>
										<i class="fa fa-cab" aria-hidden="true"></i>
										<span>Survey Mangement</span>
									</a>
									<ul class="nav nav-children">
										<li>
											<a href="pages-signup.html">
												Survey Question
											</a>
										</li>
										<li>
											<a href="pages-signin.html">
												Survey Answer
											</a>
										</li>
									</ul>
								</li>

								<li class="nav-parent">
									<a>
										<i class="fa fa-folder" aria-hidden="true"></i>
										<span>Manu & Apps</span>
									</a>
									<ul class="nav nav-children">
										<li>
											<a href="pages-signup.html">
												Manu Mangement
											</a>
										</li>
										<li>
											<a href="pages-signin.html">
												Apps Mangement
											</a>
										</li>
									</ul>
								</li>

								<li>
									<a href="mailbox-folder.html">
										<i class="fa fa-info" aria-hidden="true"></i>
										<span>Code Mangement</span>
									</a>
								</li>

								<li>
									<a href="mailbox-folder.html">
										<i class="fa fa-language" aria-hidden="true"></i>
										<span>Language</span>
									</a>
								</li>

							</ul>
						</nav>

						<hr class="separator" />
					</div>

				</div>

			</aside>
			<!-- end: sidebar -->

			<section role="main" class="content-body">
				<header class="page-header">
					<h2>Blank Page</h2>

					<div class="right-wrapper pull-right">
						<ol class="breadcrumbs">
							<li>
								<a href="index.html">
									<i class="fa fa-home"></i>
								</a>
							</li>
							<li><span>Pages</span></li>
							<li><span>Blank Page &nbsp;&nbsp;</span><span> </span></li>
						</ol>
					</div>
				</header>

				<!-- start: page -->
				<!-- end: page -->
			</section>
		</div>

		<aside id="sidebar-right" class="sidebar-right">
			<div class="nano">
				<div class="nano-content">
					<a href="#" class="mobile-close visible-xs">
						Collapse <i class="fa fa-chevron-right"></i>
					</a>

					<div class="sidebar-right-wrapper">

						<div class="sidebar-widget widget-calendar">
							<h6>Upcoming Tasks</h6>
							<div data-plugin-datepicker data-plugin-skin="dark"></div>

							<ul>
								<li>
									<time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
									<span>Company Meeting</span>
								</li>
							</ul>
						</div>

						<div class="sidebar-widget widget-friends">
							<h6>Friends</h6>
							<ul>
								<li class="status-online">
									<figure class="profile-picture">
										<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
									</figure>
									<div class="profile-info">
										<span class="name">Joseph Doe Junior</span>
										<span class="title">Hey, how are you?</span>
									</div>
								</li>
								<li class="status-online">
									<figure class="profile-picture">
										<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
									</figure>
									<div class="profile-info">
										<span class="name">Joseph Doe Junior</span>
										<span class="title">Hey, how are you?</span>
									</div>
								</li>
								<li class="status-offline">
									<figure class="profile-picture">
										<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
									</figure>
									<div class="profile-info">
										<span class="name">Joseph Doe Junior</span>
										<span class="title">Hey, how are you?</span>
									</div>
								</li>
								<li class="status-offline">
									<figure class="profile-picture">
										<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
									</figure>
									<div class="profile-info">
										<span class="name">Joseph Doe Junior</span>
										<span class="title">Hey, how are you?</span>
									</div>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</aside>
	</section>



	<script src="/Scripts/jquery/jquery.js"></script>
	<script src="/Scripts/modernizr/modernizr.js"></script>
	<script src="/Scripts/jquery-browser-mobile/jquery.browser.mobile.js"></script>
	<script src="/Content/bootstrap/js/bootstrap.js"></script>
	<script src="/Scripts/nanoscroller/nanoscroller.js"></script>
	<script src="/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="/Content/magnific-popup/magnific-popup.js"></script>
	<script src="/Scripts/jquery-placeholder/jquery.placeholder.js"></script>
	<script src="/javascripts/theme.js"></script>
	<script src="/javascripts/theme.custom.js"></script>
	<script src="/javascripts/theme.init.js"></script>
</body>
</html>