@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
	ViewBag.Title = "Dave Ilkyu Song";
}

<div class="row">
	<div class="col-md-6">
		<section class="panel panel-primary">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="fa fa-caret-down"></a>
					<a href="#" class="fa fa-times"></a>
				</div>

				<h2 class="panel-title">Notice</h2>
			</header>
			<div class="panel-body">
				<code>Comming Soon</code>
			</div>
		</section>
	</div>

	<div class="col-md-6">
		<section class="panel panel-primary">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="fa fa-caret-down"></a>
					<a href="#" class="fa fa-times"></a>
				</div>

				<h2 class="panel-title">Customer Activities</h2>
			</header>
			<div class="panel-body">
				<code>Comming Soon</code>
			</div>
		</section>
	</div>

	<div class="col-md-6">
		<section class="panel panel-success">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="fa fa-caret-down"></a>
					<a href="#" class="fa fa-times"></a>
				</div>

				<h2 class="panel-title">Photos</h2>
			</header>
			<div class="panel-body">
				<code>Comming Soon</code>
			</div>
		</section>
	</div>
</div>