<script type="text/javascript">

	$(document).ready(function () {

		$("#btnSave").click(function () {

			console.log("Partial View");
		});


	});

</script>
<form id="Dealform" class="form-horizontal" method="post">
	<h5 class="text-semibold text-dark text-uppercase">Invoice</h5>
	<fieldset>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="MenuId">Invoice Id <span class="required">*</span></label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="txtRoleMenuId" name="RoleMenuId" />
				<input type="hidden" class="form-control" id="hidMenuLevel">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="RoleName">Invoice Name <span class="required">*</span></label>
			<div class="col-sm-9">
				<input type="text" name="RoleName" class="form-control" id="txtRoleName" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="OrderNo">Invoice <span class="required">*</span></label>
			<div class="col-sm-9">
				<input type="text" name="RoleUser" class="form-control" id="txtRoleUser" />
			</div>
		</div>

	</fieldset>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-9 col-md-offset-3">
				<button type="submit" class="btn btn-primary" id="btnRoelMapSave">Save</button>
				@*<button type="reset" class="btn btn-default">Reset</button>*@
			</div>
		</div>
	</div>

</form>
